<div class="main-row">
    <div class="votes">
        <span class="item">No. of times upvoted:{{numberOfUpvotes}}</span><br>
    <div>
    </div>
    <button type="button" class="btn btn-info" (click)="upVotesClick()">Upvote quote</button>
    
    </div>
    <div class="votes1">
        <span class="item">No. of times downvoted:{{numberOfDownvotes}}</span><br>
    <div>
    </div>
    <button type="button" class="btn btn-warning" (click)="downVotesClick()">DownVote quote</button>
    
    </div>
</div>

