<div>
    <hr>
    <form  (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
        <div class="form-group">
  
            <label for="name">Author</label>
            <input type="text" required class="form-control" id="name" [(ngModel)]="addNewQuote.name" name="name" #name='ngModel'>
            Display {{addNewQuote.name}}
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                <p>Author Name is required</p>
              </div>
        </div>
        <div class="form-group">
  
            <label for="quote">Quote</label>
            <textarea class="form-control" id="quote" rows="4"[(ngModel)]="addNewQuote.quote" name="quote" #quote="ngModel" required></textarea>
            <div [hidden]="quote.valid || quote.pristine" class="alert alert-danger">
                <p>Please enter your Quote</p>
              </div>
        </div>
        <div class="form-group">
  
            <label for="author">Publisher</label>
            <input type="text" required class="form-control" id="author"[(ngModel)]="addNewQuote.author" name="author" #author="ngModel">
            Display {{addNewQuote.author}}
            <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
                <p>Please enter your name</p>
              </div>
  
        </div>
        <div class="form-group mt-3">
            <label for="complete">Date Added : </label>
            <input type='date' id="complete" required>
  
        </div>
        <button type="submit" class="btn btn-success mt-3">Add Quote</button>

    </form>
    
  </div>