
<div class="container-fluid">
  <h2 class="text-center text-white pt-5">Quotes App</h2>
  <app-quotes></app-quotes>

  <!-- <div class="row mt-md-5 pt-5">
    <div class="col-md-6">
      <h2>Quotes Of The Day</h2>
      <app-quotes></app-quotes>
    </div>
    <div class="col-md-6">
      <h2>Add You Favourite Quote</h2>
      <app-goal-form ></app-goal-form>
      <div class="col-md-6">
        <app-goal-form (addQuote)="addNewQuote($event)"></app-goal-form>
    </div>
      
    </div>
  </div> -->

</div>
