.container-fluid{
    background-color:#0e1e02;
    background-repeat:repeat;
    height: 150vh;
    
}
@media only screen and (max-width: 765px) {
    .container-fluid{
        background-color:#0e1e02;
        background-repeat:repeat;
        height: 300vh;
        
    }
  }