
<div class="container" id="main">
    
    <div class="col-md-6 mt-5 text-white" id="cols">
        <h2>Quote of the Day</h2>
        <hr>
        <ul *ngFor='let quote of quotes let i=index'>
            
            <!-- *ngIf="quote.numberOfUpvotes === highestUpvote() && quote.numberOfUpvotes > 0 -->
            <div appHighlight *ngIf="highestUpvote() ===quote.numberOfUpvotes && quote.numberOfUpvotes>0;">
            <!-- <ng-template #highlighted> -->
                <li ><span class="qoutee">{{quote.quote}}</span><br>
                    <span class="item">Author:{{quote.author}}</span><br>
                    <span class="item">Publisher:{{quote.name}}</span><br>
                    <div class="arrange-btn">
                        <app-likebuttons></app-likebuttons>
                        <button type="button" class="btn btn-danger" (click)=' deleteQuote(1)'>Delete</button>


                    </div>

                    <p>This qoute was created on - {{quote.completeDate|date}}</p>

                </li>
            </div>
            <!-- </ng-template> -->
            <!-- <ng-template #nothighlighted> -->
                <div *ngIf="highestUpvote() !==quote.numberOfUpvotes || quote.numberOfUpvotes===0">
                    <li><span class="qoutee text-white">{{quote.quote}}</span><br>
                        <span class="item text-white">Author:{{quote.author}}</span><br>
                        <span class="item text-white">Publisher:{{quote.name}}</span><br>
                        <div class="arrange-btn">
                            <app-likebuttons></app-likebuttons>
                            <button type="button" class="btn btn-danger text-white" (click)=' deleteQuote(i)'>Delete</button>
    
                        </div>
                        <p>This qoute was created on - {{quote.completeDate|date}} <br> {{quote.completeDate|dateCount}} days ago</p>
    
                    </li>
                </div>
             
            <!-- </ng-template> -->
        
        
        </ul>
        <!-- <div class="myQuote " *ngFor="let quote of quotes; let i=index">
            <p class="h3"appHighlight *ngIf="highestUpvote()===quote.numberOfUpvotes && quote.numberOfUpvotes>0">
              {{quote.quote}}

            </p>
             <p class="h3" *ngIf="highestUpvote()!==quote.numberOfUpvotes || quote.numberOfUpvotes===0">
                 {{quote.quote}}
                 
             </p>
             <span class="item text-white">Author:{{quote.author}}</span><br>
             <span class="item text-white">Publisher:{{quote.name}}</span><br>
             <div class="arrange-btn">
                 <app-likebuttons></app-likebuttons>
                 <button type="button" class="btn btn-danger text-white" (click)=' deleteQuote(1)'>Delete</button>

             </div>
             <p>This qoute was created on - {{quote.completeDate|date}}</p> -->

            <!-- <app-details [quote]="quote"></app-details> -->
    </div>
   
    <div class="col-md-6 mt-5 pl-3 text-white" id="cols">
        <h2>Add Your Favourite Quote</h2>
        <app-quotes-form (addQuote)="addNewQuote($event)"></app-quotes-form>
    </div>
</div>


